.settings-dialog {
  width: 450px;
  min-width: 450px;
}

.mat-mdc-form-field.settingsForm {
  padding: 0px 0px !important;
}

.full-width {
  width: 100%;
}

button .right {
  margin-left: 5px;
}

.example-margin {
  margin-bottom: 20px !important;
}
