<h2 mat-dialog-title>{{ 'mmn.layout.rate.title' | translate }}</h2>
<div fxLayout="column" class="rateTitle">
  <a class="icon-button" mat-button href="https://github.com/kalman33/Tuello" target="_blank" (click)="openLink($event)">
    <img src="/assets/img/github-mark.png" class="icon" />
    <span>{{ 'mmn.layout.rate.github' | translate }}</span>
  </a>
  <a
    class="icon-button"
    mat-button
    href="https://chromewebstore.google.com/detail/tuello/keggceicipngaimacccgmcfbbnmnldoc"
    target="_blank"
    (click)="openLink($event)"
  >
    <img src="/assets/img/chrome.svg" class="icon" />
    <span>{{ 'mmn.layout.rate.chrome' | translate }}</span>
</a>
</div>
<h2 mat-dialog-title>{{ 'mmn.layout.support.title' | translate }}</h2>

<span>{{ 'mmn.layout.support' | translate }}</span>
<form id="paypal" action="https://www.paypal.com/donate" (ngSubmit)="faireUnDon()" method="post" target="_blank">
  <input type="hidden" name="hosted_button_id" value="UZ5W457PXJW26" />
  <input
    type="image"
    [src]="this.translate.instant('mmn.jsoneditor.language') === 'en' ? 'https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif' : 'https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif'"
    style="border: 0"
    name="submit"
    title="PayPal - The safer, easier way to pay online!"
    alt="Bouton Faites un don avec PayPal"
  />
  <img alt="" style="border: 0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
</form>
