.mat-mdc-button {
  text-align: left !important;
}

h2 {
  margin-bottom: 2px;
  margin-top: 2px;
}

::ng-deep #rateTitle a span.mdc-button__label {
  display: flex !important; 
  align-items: center !important;
  text-align: left; 
  width: auto; 
}

::ng-deep .mat-mdc-button .mat-mdc-button-persistent-ripple:hover::before {
  background-color: transparent !important;
  opacity: 0 !important;
}

::ng-deep .rateTitle span::before {
  background-color: transparent !important;
  opacity: 0 !important;
}

::ng-deep .rateTitle a:hover {
  color: #FFB61E !important;
}

form {
  margin-top: 5px;
}

.rateTitle {
  align-items: flex-start;
}

.icon-button{
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.icon-button .icon {
  width: 28px;
}

.icon-button span {
  padding-left: 12px;
}