.mat-mdc-button {
  text-align: left !important;
}

h2 {
  margin-bottom: 2px;
  margin-top: 2px;
}

form {
  margin-top: 5px;
}

.rateTitle {
  align-items: flex-start;
}

.rateTitle span.mdc-button__label {
  display: flex; 
  align-items: center;
  text-align: left; 
  width: auto; 
}

.icon-button{
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.icon-button .icon {
  width: 28px;
}

.icon-button span {
  padding-left: 12px;
}