<div class="grid-container">
  @if (urls.length === 0) {
    <div class="empty-state">
      <mat-icon class="empty-icon">link</mat-icon>
      <p>{{ 'mmn.mosaic.empty.urls' | translate }}</p>
    </div>
  } @else {
    <div cdkDropList cdkDropListOrientation="mixed" class="tiles-list" (cdkDropListDropped)="drop($event)" [@staggerList]>
      @for (url of displayUrls; track url.id) {
        <mmn-mosaic-tile
          cdkDrag
          [cdkDragData]="url"
          [item]="url"
          type="url"
          [editable]="editable"
          [active]="activeIndex() === $index"
          [attr.data-nav-index]="$index"
          (mouseenter)="selectItem($index)"
          (cdkDragStarted)="onDragStarted()"
          (cdkDragEnded)="onDragEnded()"
          (edit)="editUrl.emit(url)"
          (delete)="deleteUrl.emit(url)"
        ></mmn-mosaic-tile>
      }
    </div>
  }
</div>
