.editor-wrapper {
  height: 80vh;
  border-radius: 4px;
  overflow: hidden;
}

.json-editor-container {
  height: 100%;
  width: 100%;
}

.button-row > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px !important;
  margin-right: 20px;
  margin-bottom: 10px !important;
  line-height: 30px;
}
