.-tab-icon {
  margin-right: 8px;
}

.mat-mdc-tab-group {
  margin-top: 15px;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-tab mat-icon {
  margin-right: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list {
  height: auto;
}

mmn-track-detail {
  width: -webkit-fill-available;
}
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list {
  height: 92vh;
}

mat-form-field {
  padding-right: 10px;
}


:host ::ng-deep mat-list mat-list-item span.mat-mdc-list-item-content {
  padding-right: 0px !important;
}

:host ::ng-deep mat-list .mat-mdc-list-item:hover {
  background-color: #f2b04a !important;
}

.selected {
  font-weight: bolder;
  background-color: #f2b04a;
}

.button-row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-row button {
  display: inline-flex;
  align-items: center; /* Centre verticalement le texte et l'icône */
  justify-content: center; /* Centre horizontalement le contenu */
  margin-right: 20px;
  line-height: 30px;
}

.button-row mat-slide-toggle {
  margin-right: 20px;
}

.track-width {
  width: 49%;
}

.plm {
padding-left: 10px;
}