<div class="container">
  <div fxFlex="99%">
    <div class="button-row" fxLayout="row" fxLayoutAlign="start center" [ngClass]="routeAnimationsElements">
      <button mat-flat-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
        {{ 'mmn.track.button.saveAs' | translate }}
      </button>

      <button mat-flat-button color="primary" (click)="effacerEnregistrements()">
        <mat-icon>delete_outline</mat-icon>
        {{ 'mmn.track.button.delete' | translate }}
      </button>
    </div>
    <div class="button-row" fxLayout="row" fxLayoutAlign="start center">
      <mat-slide-toggle fxFlex="50%" [checked]="trackPlayActivated" [(ngModel)]="trackPlayActivated" (change)="toggleTrackPlay($event)">{{
        'mmn.track.button.play' | translate
      }}</mat-slide-toggle>

      <mat-radio-group [(ngModel)]="trackDataDisplayType" fxFlex="49%" aria-label="Select an option">
        <mat-radio-button value="querystring">Query string</mat-radio-button>
        <mat-radio-button class="plm" value="body">Body</mat-radio-button>
      </mat-radio-group>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="50%" class="track-width">
        <mat-label>{{ 'mmn.track.input' | translate }}</mat-label>
        <input [(ngModel)]="trackData" (focusout)="focusOut()" matInput placeholder="Ex. jquery" />
      </mat-form-field>

      <mat-form-field fxFlex="49%" class="track-width">
        <mat-label>{{ 'mmn.track.input.data.display' | translate }}</mat-label>
        <input [(ngModel)]="trackDataDisplay" matInput placeholder="Ex. name or name, name1" />
      </mat-form-field>
    </div>
    @if (tracks) {
      <mat-list [selectTrack]="selectedTrackId">
        @for (track of tracks; track track; let i = $index) {
          <mat-list-item [ngClass]="isSelectedClass(track)">
            <mmn-track-detail
              [id]="'list-' + track.id"
              [index]="i"
              [track]="track"
              [dataDisplay]="_trackDataDisplay"
              [dataDisplayType]="_trackDataDisplayType"
              class="animated lightSpeedIn"
            ></mmn-track-detail>
          </mat-list-item>
        }
      </mat-list>
    }
  </div>
</div>
