<div class="container" >
  <div fxFlex="99%">

    <div class="button-row" fxLayout="row" fxLayoutAlign="start center" [ngClass]="routeAnimationsElements">
      <button [disabled]="spyActif" mat-flat-button color="primary" (click)="startRecording()">
        <mat-icon>mic</mat-icon>
        {{ 'mmn.spy-http.button.record' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="deleteRecords()">
        <mat-icon>delete</mat-icon>
        {{ 'mmn.spy-http.button.delete' | translate }}
      </button>
      <button [disabled]="spyActif || actions?.length <=0" mat-flat-button color="primary" (click)="startPlaying()">
        <mat-icon>play_circle_outline</mat-icon>
        {{ 'mmn.spy-http.button.play' | translate }}
      </button>
      <button [disabled]="!spyActif" mat-flat-button color="primary" (click)="stopRecording()">
        <mat-icon>stop</mat-icon>
        {{ 'mmn.spy-http.button.stop' | translate }}
      </button>
    </div>

    <mat-tab-group #tabGrp>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">list</mat-icon>
          {{ 'mmn.spy-http.tabs.records' | translate }}
        </ng-template>
        <mat-list *ngIf="actions" cdkDropList [cdkDropListData]="actions"
        (cdkDropListDropped)="onTaskDrop($event)">
            <mat-list-item *ngFor="let action of actions; let i = index">
              <mmn-action cdkDrag [index]='i' [action]="action" class="animated lightSpeedIn"
                          [ngClass]="{'selected': playerService.pausedActionNumber === i}"
                          (delete)='deleteAction($event)'
                          (duplicate)='duplicateAction($event)'
                          (modify)='modifyAction($event)'
                          (preview)='previewAction($event)'
                          (decreaseDelay)='decreaseDelayAction($event)'
              ></mmn-action>
            </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">call_received</mat-icon>
          {{ 'mmn.spy-http.tabs.http' | translate }}
        </ng-template>
        <mat-list>
          <mat-nav-list dense>
            <mat-list-item style="cursor: pointer" (click)="visualiserFlux(httpRecord)"  *ngFor="let httpRecord of recorderHistoryService?.record?.httpRecords">
              {{ httpRecord.key }}
            </mat-list-item>
          </mat-nav-list>
        </mat-list>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">help_outline</mat-icon>
          {{ 'mmn.spy-http.tabs.shortcuts' | translate }}
        </ng-template>
        <mat-list>
          <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" class="shortcut">
            <div fxFlex="15%" fxLayoutAlign="center center">
              <mat-icon color="accent" mat-list-icon>keyboard</mat-icon>
            </div>
            <div fxFlex="25%" fxLayoutAlign="start center">
              <div mat-line>{{ 'mmn.spy-http.tabs.shortcuts.screenshot' | translate }}</div>
            </div>
            <div fxFlex fxLayoutAlign="start center">
              <div mat-line>ALT + MAJ + 
                <mat-form-field style="width: 100%;">
                  <mat-label class="custom-label"></mat-label>
                  <input [(ngModel)]="screenshot" (ngModelChange)="keyboardShortcutChange($event)" matInput type="text" maxlength="1" #screenshotModel="ngModel" pattern="^[a-zA-Z]" required>
                  <mat-error *ngIf="screenshotModel.errors?.['required']">
                    {{'mmn.spy-http.tabs.shortcuts.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <!--<div mat-line>Mobile:  Rotate</div>-->
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" class="shortcut">
            <div fxFlex="15%" fxLayoutAlign="center center">
              <mat-icon color="accent" mat-list-icon>pause</mat-icon>
            </div>
            <div fxFlex="25%" fxLayoutAlign="start center">
              <div mat-line>{{ 'mmn.spy-http.tabs.shortcuts.pause' | translate }}</div>
            </div>
            <div fxFlex fxLayoutAlign="start center">
              <div mat-line> ALT + MAJ + P </div>
            </div>
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" class="shortcut">
            <div fxFlex="15%" fxLayoutAlign="center center">
              <mat-icon color="accent" mat-list-icon>play_arrow</mat-icon>
            </div>
            <div fxFlex="25%" fxLayoutAlign="start center">
              <div mat-line>{{ 'mmn.spy-http.tabs.shortcuts.resume' | translate }}</div>
            </div>
            <div fxFlex fxLayoutAlign="start center">
              <div mat-line> ALT + MAJ + R </div>
            </div>
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" class="shortcut">
            <div fxFlex="15%" fxLayoutAlign="center center">
              <mat-icon color="accent" mat-list-icon>image_search</mat-icon>
            </div>
            <div fxFlex="25%" fxLayoutAlign="start center">
              <div mat-line>{{ 'mmn.spy-http.tabs.shortcuts.record.by.img' | translate }}</div>
            </div>
            <div fxFlex fxLayoutAlign="start center">
              <div mat-line>ALT + MAJ + click </div>
            </div>
            <!--<div mat-line>Mobile: {{ 'mmn.spy-http.tabs.shortcuts.record.by.img.shortcut' | translate }} </div>-->
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" class="shortcut">
            <div fxFlex="15%" fxLayoutAlign="center center">
            </div>
            <div fxFlex="25%" fxLayoutAlign="start center">
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="start center">
              <div mat-line>Coord. + ALT + MAJ + 
                <mat-form-field>
                  <mat-label class="custom-label"></mat-label>
                  <input [(ngModel)]="captureImage" (ngModelChange)="keyboardShortcutChange($event)" matInput type="text" maxlength="1" #captureImageModel="ngModel" pattern="^[a-zA-Z]" required>
                  <mat-error *ngIf="captureImageModel.errors?.['required']">
                    {{'mmn.spy-http.tabs.shortcuts.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <!--<div mat-line>Mobile: {{ 'mmn.spy-http.tabs.shortcuts.record.by.img.shortcut' | translate }} </div>-->
          </mat-list-item>
          <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" class="shortcut">
            <div fxFlex="15%" fxLayoutAlign="center center">
              <mat-icon color="accent" mat-list-icon>message</mat-icon>
            </div>
            <div fxFlex="25%" fxLayoutAlign="start center">
              <div mat-line>{{ 'mmn.spy-http.tabs.shortcuts.add.comment' | translate }}</div>
            </div>
            <div fxFlex fxLayoutAlign="start center">
              <div mat-line>ALT + MAJ + 
                <mat-form-field>
                  <mat-label class="custom-label"></mat-label>
                  <input [(ngModel)]="comment" (ngModelChange)="keyboardShortcutChange($event)" matInput type="text" maxlength="1" #commentModel="ngModel" pattern="^[a-zA-Z]" required>
                  <mat-error *ngIf="commentModel.errors?.['required']">
                    {{'mmn.spy-http.tabs.shortcuts.required' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">import_export</mat-icon>
          {{ 'mmn.spy-http.tabs.parameters' | translate }}
        </ng-template>
        <div class="button-row" [ngClass]="routeAnimationsElements">
          <button mat-flat-button color="accent" (click)="save()" style="color: white;">
            <mat-icon>save</mat-icon>
            {{ 'mmn.spy-http.button.saveAs' | translate }}
          </button>
          <button mat-flat-button color="accent" style="color: white;" (click)="selectFile()">
            <mat-icon>save_alt</mat-icon>
            {{ 'mmn.spy-http.button.import' | translate }}
          </button>
          <input style="display: none" #fileInput type="file" (change)="onChange($event)" accept=".json">
          <button *ngIf="this.playerService.comparisonResults" mat-flat-button color="warn" [routerLink]="['/spy/results']" [skipLocationChange]="true">
            <mat-icon>save</mat-icon>
            {{ 'mmn.spy-http.button.results' | translate }}
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
