.-tab-icon {
  margin-right: 8px;
}

.mat-mdc-tab-group {
  margin-top: 15px;
}

.shortcut.mat-mdc-list-item {
  margin-bottom: 8px !important;
}

mmn-action {
  width: 100vh;
}

:host ::ng-deep cdk-virtual-scroll-viewport .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

.selected {
  font-weight: bolder;
  background-color: linen;
}

.black-theme .selected {
  font-weight: bolder;
  background-color: #2b1f14;
}


.button-row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-row button {
  display: inline-flex;
  align-items: center; /* Centre verticalement le texte et l'icône */
  justify-content: center; /* Centre horizontalement le contenu */
  margin-right: 20px;
  line-height: 30px;
}

/* styles.css (ou votre fichier CSS local) */
.custom-label .mat-placeholder-required,
.mat-mdc-form-field-required-marker {
  display: none !important;
}