<div class="container">
  <div fxFlex="99%">
    <div class="button-row" fxLayout="row" fxLayoutAlign="start center" [ngClass]="routeAnimationsElements">
      <button id="guide-spy-record" [disabled]="spyActif" mat-flat-button color="primary" (click)="startRecording()">
        <mat-icon>mic</mat-icon>
        {{ 'mmn.spy-http.button.record' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="deleteRecords()">
        <mat-icon>delete</mat-icon>
        {{ 'mmn.spy-http.button.delete' | translate }}
      </button>
      <button id="guide-spy-play" [disabled]="spyActif || actions?.length <= 0" mat-flat-button color="primary" (click)="startPlaying()">
        <mat-icon>play_circle_outline</mat-icon>
        {{ 'mmn.spy-http.button.play' | translate }}
      </button>
      <button [disabled]="!spyActif" mat-flat-button color="primary" (click)="stopRecording()">
        <mat-icon>stop</mat-icon>
        {{ 'mmn.spy-http.button.stop' | translate }}
      </button>
      <button id="guide-spy-scenario" [disabled]="spyActif || actions?.length <= 0" mat-flat-button color="primary" (click)="saveScenario()">
        <mat-icon>bookmark_add</mat-icon>
        {{ 'mmn.spy-http.button.save-scenario' | translate }}
      </button>
    </div>

    <mat-tab-group #tabGrp id="guide-spy-actions">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">list</mat-icon>
          {{ 'mmn.spy-http.tabs.records' | translate }}
        </ng-template>
        @if (actions) {
          <mat-list cdkDropList [cdkDropListData]="actions" (cdkDropListDropped)="onTaskDrop($event)">
            @for (action of actions; track action.id; let i = $index) {
              <mat-list-item>
                <mmn-action
                  cdkDrag
                  [index]="i"
                  [action]="action"
                  class="animated lightSpeedIn"
                  [ngClass]="{ selected: playerService.pausedActionNumber === i }"
                  (delete)="deleteAction($event)"
                  (duplicate)="duplicateAction($event)"
                  (modify)="modifyAction($event)"
                  (preview)="previewAction($event)"
                  (decreaseDelay)="decreaseDelayAction($event)"
                ></mmn-action>
              </mat-list-item>
            }
          </mat-list>
        }
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">call_received</mat-icon>
          {{ 'mmn.spy-http.tabs.http' | translate }}
        </ng-template>
        <mat-list>
          <mat-nav-list dense>
            @for (httpRecord of recorderHistoryService?.record?.httpRecords; track httpRecord.key) {
              <mat-list-item style="cursor: pointer" (click)="visualiserFlux(httpRecord)">
                {{ httpRecord.key }}
              </mat-list-item>
            }
          </mat-nav-list>
        </mat-list>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">bookmarks</mat-icon>
          {{ 'mmn.spy-http.tabs.scenarios' | translate }}
        </ng-template>
        @if (scenarios.length === 0) {
          <p class="scenario-empty">{{ 'mmn.spy-http.scenario.empty' | translate }}</p>
        } @else {
          <mat-list>
            @for (scenario of scenarios; track scenario.id) {
              <mat-list-item class="scenario-item">
                <mat-icon matListItemIcon color="accent">bookmark</mat-icon>
                <span matListItemTitle>{{ scenario.name }}</span>
                <span matListItemLine class="scenario-meta">
                  {{ formatScenarioDate(scenario.createdAt) }} &middot;
                  {{ 'mmn.spy-http.scenario.actions.count' | translate: { count: scenario.actions.length } }}
                </span>
                <div matListItemMeta class="scenario-actions">
                  <button mat-icon-button [matTooltip]="'mmn.spy-http.scenario.load' | translate" (click)="loadScenario(scenario)">
                    <mat-icon>file_download</mat-icon>
                  </button>
                  <button mat-icon-button [matTooltip]="'mmn.spy-http.scenario.rename' | translate" (click)="renameScenario(scenario)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" [matTooltip]="'mmn.spy-http.scenario.delete' | translate" (click)="deleteScenario(scenario)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            }
          </mat-list>
        }
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">help_outline</mat-icon>
          {{ 'mmn.spy-http.tabs.shortcuts' | translate }}
        </ng-template>
        <div id="guide-spy-shortcuts" class="shortcut-list">
          <div class="shortcut-platform">
            <mat-icon>{{ platform === 'mac' ? 'laptop_mac' : 'laptop_windows' }}</mat-icon>
            <span>{{ platformHint }}</span>
          </div>

          <div class="shortcut-row">
            <mat-icon color="accent" class="shortcut-icon">keyboard</mat-icon>
            <span class="shortcut-label">{{ 'mmn.spy-http.tabs.shortcuts.screenshot' | translate }}</span>
            <span class="shortcut-keys">
              <kbd class="shortcut-key" [matTooltip]="altTooltip">{{ altLabel }}</kbd>
              <span class="shortcut-plus">+</span>
              <kbd class="shortcut-key" [matTooltip]="shiftTooltip">{{ shiftLabel }}</kbd>
              <span class="shortcut-plus">+</span>
              <mat-form-field class="shortcut-input" subscriptSizing="dynamic">
                <input [(ngModel)]="screenshot" (ngModelChange)="keyboardShortcutChange($event)" matInput type="text" maxlength="1" #screenshotModel="ngModel" pattern="^[a-zA-Z]" required />
                @if (screenshotModel.errors?.['required']) {
                  <mat-error>
                    {{ 'mmn.spy-http.tabs.shortcuts.required' | translate }}
                  </mat-error>
                }
              </mat-form-field>
            </span>
          </div>

          <div class="shortcut-row">
            <mat-icon color="accent" class="shortcut-icon">pause</mat-icon>
            <span class="shortcut-label">{{ 'mmn.spy-http.tabs.shortcuts.pause' | translate }}</span>
            <span class="shortcut-keys">
              <kbd class="shortcut-key" [matTooltip]="altTooltip">{{ altLabel }}</kbd>
              <span class="shortcut-plus">+</span>
              <kbd class="shortcut-key" [matTooltip]="shiftTooltip">{{ shiftLabel }}</kbd>
              <span class="shortcut-plus">+</span>
              <kbd class="shortcut-key">P</kbd>
            </span>
          </div>

          <div class="shortcut-row">
            <mat-icon color="accent" class="shortcut-icon">play_arrow</mat-icon>
            <span class="shortcut-label">{{ 'mmn.spy-http.tabs.shortcuts.resume' | translate }}</span>
            <span class="shortcut-keys">
              <kbd class="shortcut-key" [matTooltip]="altTooltip">{{ altLabel }}</kbd>
              <span class="shortcut-plus">+</span>
              <kbd class="shortcut-key" [matTooltip]="shiftTooltip">{{ shiftLabel }}</kbd>
              <span class="shortcut-plus">+</span>
              <kbd class="shortcut-key">R</kbd>
            </span>
          </div>

          <div class="shortcut-row">
            <mat-icon color="accent" class="shortcut-icon">image_search</mat-icon>
            <span class="shortcut-label">{{ 'mmn.spy-http.tabs.shortcuts.record.by.img' | translate }}</span>
            <div class="shortcut-keys shortcut-keys--stacked">
              <span class="shortcut-keys">
                <kbd class="shortcut-key" [matTooltip]="altTooltip">{{ altLabel }}</kbd>
                <span class="shortcut-plus">+</span>
                <kbd class="shortcut-key" [matTooltip]="shiftTooltip">{{ shiftLabel }}</kbd>
                <span class="shortcut-plus">+</span>
                <kbd class="shortcut-key">{{ 'mmn.spy-http.tabs.shortcuts.key.click' | translate }}</kbd>
              </span>
              <span class="shortcut-keys">
                <span class="shortcut-prefix">{{ 'mmn.spy-http.tabs.shortcuts.key.coord' | translate }}</span>
                <span class="shortcut-plus">+</span>
                <kbd class="shortcut-key" [matTooltip]="altTooltip">{{ altLabel }}</kbd>
                <span class="shortcut-plus">+</span>
                <kbd class="shortcut-key" [matTooltip]="shiftTooltip">{{ shiftLabel }}</kbd>
                <span class="shortcut-plus">+</span>
                <mat-form-field class="shortcut-input" subscriptSizing="dynamic">
                  <input [(ngModel)]="captureImage" (ngModelChange)="keyboardShortcutChange($event)" matInput type="text" maxlength="1" #captureImageModel="ngModel" pattern="^[a-zA-Z]" required />
                  @if (captureImageModel.errors?.['required']) {
                    <mat-error>
                      {{ 'mmn.spy-http.tabs.shortcuts.required' | translate }}
                    </mat-error>
                  }
                </mat-form-field>
              </span>
            </div>
          </div>

          <div class="shortcut-row">
            <mat-icon color="accent" class="shortcut-icon">message</mat-icon>
            <span class="shortcut-label">{{ 'mmn.spy-http.tabs.shortcuts.add.comment' | translate }}</span>
            <span class="shortcut-keys">
              <kbd class="shortcut-key" [matTooltip]="altTooltip">{{ altLabel }}</kbd>
              <span class="shortcut-plus">+</span>
              <kbd class="shortcut-key" [matTooltip]="shiftTooltip">{{ shiftLabel }}</kbd>
              <span class="shortcut-plus">+</span>
              <mat-form-field class="shortcut-input" subscriptSizing="dynamic">
                <input [(ngModel)]="comment" (ngModelChange)="keyboardShortcutChange($event)" matInput type="text" maxlength="1" #commentModel="ngModel" pattern="^[a-zA-Z]" required />
                @if (commentModel.errors?.['required']) {
                  <mat-error>
                    {{ 'mmn.spy-http.tabs.shortcuts.required' | translate }}
                  </mat-error>
                }
              </mat-form-field>
            </span>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">import_export</mat-icon>
          {{ 'mmn.spy-http.tabs.parameters' | translate }}
        </ng-template>
        <div class="button-row" [ngClass]="routeAnimationsElements">
          <button mat-flat-button color="accent" (click)="save()" style="color: white">
            <mat-icon>save</mat-icon>
            {{ 'mmn.spy-http.button.saveAs' | translate }}
          </button>
          <button mat-flat-button color="accent" style="color: white" (click)="selectFile()">
            <mat-icon>save_alt</mat-icon>
            {{ 'mmn.spy-http.button.import' | translate }}
          </button>
          <input style="display: none" #fileInput type="file" (change)="onChange($event)" accept=".json" />
          @if (this.playerService.comparisonResults) {
            <button mat-flat-button color="warn" [routerLink]="['/spy/results']" [skipLocationChange]="true">
              <mat-icon>save</mat-icon>
              {{ 'mmn.spy-http.button.results' | translate }}
            </button>
          }
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
