/* http://mcg.mbitson.com/#!?primary=%23317589&accent=%23e29c45&warn=%23abb7b7&themename=mcgtheme */
$md-primary: (
  50 : #e6eef1,
  100 : #c1d6dc,
  200 : #98bac4,
  300 : #6f9eac,
  400 : #508a9b,
  500 : #317589,
  600 : #2c6d81,
  700 : #256276,
  800 : #1f586c,
  900 : #134559,
  A100 : #92ddff,
  A200 : #5fcdff,
  A400 : #2cbdff,
  A700 : #13b5ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #fcf3e9,
  100 : #f6e1c7,
  200 : #f1cea2,
  300 : #ebba7d,
  400 : #e6ab61,
  500 : #e29c45,
  600 : #df943e,
  700 : #da8a36,
  800 : #d6802e,
  900 : #cf6e1f,
  A100 : #ffffff,
  A200 : #ffe5d3,
  A400 : #ffc8a0,
  A700 : #ffb986,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warn: (
  50 : #f3e5e7,
  100 : #e2bfc2,
  200 : #ce9499,
  300 : #ba6970,
  400 : #ac4952,
  500 : #9d2933,
  600 : #95242e,
  700 : #8b1f27,
  800 : #811920,
  900 : #6f0f14,
  A100 : #ffa3a7,
  A200 : #ff7077,
  A400 : #ff3d46,
  A700 : #ff242d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);



