<mat-toolbar>
  @if (showBack) {
    <button mat-icon-button [matTooltip]="'mmn.mosaic.back' | translate" (click)="backClick.emit()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  }

  <div class="toolbar-title">
    <mat-icon class="logo-icon">grid_view</mat-icon>
    <div class="typewriter-container">
      <span class="tw-tuello" [class.typed]="tuelloTyped" [class.done]="tuelloDone">TUELLO</span>
      <span class="tw-subtitle" [class.typed]="subtitleTyped">{{ 'mmn.layout.mosaic' | translate }}</span>
    </div>
    @if (showBack && categoryName) {
      <span class="breadcrumb">/ {{ categoryName }}</span>
    }
  </div>

  <div class="toolbar-search" [class.focused]="searchFocused()" [class.has-value]="!!searchQuery">
    <mat-icon class="search-icon">search</mat-icon>
    <input
      type="text"
      class="search-input"
      [placeholder]="'mmn.mosaic.search.placeholder' | translate"
      [ngModel]="searchQuery"
      (ngModelChange)="onSearchInput($event)"
      (focus)="searchFocused.set(true)"
      (blur)="searchFocused.set(false)"
      autocomplete="off"
      spellcheck="false"
    />
    @if (searchQuery) {
      <button mat-icon-button class="search-clear" [matTooltip]="'mmn.mosaic.search.clear' | translate" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>
</mat-toolbar>
