<mat-toolbar>
  @if (showBack) {
    <button mat-icon-button [matTooltip]="'mmn.mosaic.back' | translate" (click)="backClick.emit()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  }

  <div class="toolbar-title">
    <mat-icon class="logo-icon">grid_view</mat-icon>
    <div class="typewriter-container">
      <span class="tw-tuello" [class.typed]="tuelloTyped" [class.done]="tuelloDone">TUELLO</span>
      <span class="tw-subtitle" [class.typed]="subtitleTyped">{{ 'mmn.layout.mosaic' | translate }}</span>
    </div>
    @if (showBack && categoryName) {
      <span class="breadcrumb">/ {{ categoryName }}</span>
    }
  </div>
</mat-toolbar>
