.-tab-icon {
  margin-right: 8px;
}

.mat-mdc-tab-group {
  margin-top: 15px;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-tab mat-icon {
  margin-right: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list {
  height: auto;
}

mmn-element {
  width: 100%;
}

.selected {
  font-weight: bolder;
  background-color: linen;
}

.button-row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-row button {
  display: inline-flex;
  align-items: center; /* Centre verticalement le texte et l'icône */
  justify-content: center; /* Centre horizontalement le contenu */
  margin-right: 20px;
  line-height: 30px;
}

.button-row mat-slide-toggle {
  margin-right: 20px;
}

mat-form-field {
  padding-right: 10px;
}

// Ligne 1 : quoi chercher
.search-type {
  width: 30%;
}

.search-name {
  width: 62%;
}

// Ligne 2 : quoi afficher
.search-display {
  width: 40%;
}

.search-attribute {
  width: 40%;
}
