<div fxLayout="row">
  <div fxFlex="15%" (click)='reduceDelay()' class="label delay" matTooltip="(ms)">
    <mat-icon class="v-align-middle">access_time</mat-icon>
    <span class="v-align-middle">+ {{action.delay}}</span>
  </div>

  <!-- screenshot -->
  <ng-container *ngIf="action.actionType === 'NAVIGATE'">
    <div fxFlex="15%" class="label screenshot">
      <mat-icon class="v-align-middle">my_location</mat-icon>
      <span class="v-align-middle">{{ 'mmn.spy-http.actions.type.navigate' | translate }}</span>
    </div>
    <div fxFlex="50%">
      <div fxFlex="50%" class="data">{{action?.userAction?.hrefLocation}}</div>
    </div>
  </ng-container>

  <!-- screenshot -->
  <ng-container *ngIf="action.actionType === 'SCREENSHOT'">
    <div fxFlex="15%" class="label screenshot">
      <mat-icon class="v-align-middle">photo_camera</mat-icon>
      <span class="v-align-middle">{{ 'mmn.spy-http.actions.type.screenshot' | translate }}</span>
    </div>
    <div fxFlex="50%">
      <img style='display:block; width:50px;height:50px;'
           (click)="chromeExtentionUtilsService.openImageViewer(action?.data)"
           [src]='action?.data' alt="Screenshot"/>
    </div>
  </ng-container>

  <!-- record by img -->
  <ng-container *ngIf="action.actionType === 'RECORD_BY_IMAGE'">
    <div fxFlex="15%" class="label screenshot">
      <mat-icon class="v-align-middle">photo_camera</mat-icon>
      <span class="v-align-middle">{{ 'mmn.spy-http.actions.type.record.by.img' | translate }}</span>
    </div>
    <div fxFlex="50%">
      <img style='display:block; width:30px;height:30px;'
           (click)="chromeExtentionUtilsService.openImageViewer(action?.userAction?.value)"
           [src]='action?.userAction?.value' alt="Screenshot"/>
    </div>
  </ng-container>

  <!-- Comment -->
  <ng-container *ngIf="action.actionType === 'COMMENT'">
    <div fxFlex="15%" class="label screenshot">
      <mat-icon>comment</mat-icon>
      <span class="v-align-middle">{{ 'mmn.spy-http.actions.type.comment' | translate }}</span>
    </div>
    <div fxFlex="50%" class="data">{{action?.data}}</div>
  </ng-container>

  <!-- event -->
  <ng-container *ngIf="action.actionType === 'EVENT'">
    <div fxFlex="15%"  [className]="action?.userAction?.type === 'resize' ? 'label windowResize' : 'label actionType'" >
      <mat-icon>face</mat-icon>
      <span class="v-align-middle">{{action?.userAction?.type | lowercase}}</span>
    </div>
    <div fxFlex="50%" class="data">{{action?.userAction?.value}}</div>
  </ng-container>
  <div fxFlex class="actions">
    <button *ngIf="action?.userAction?.type === 'click'" mat-icon-button
            color="primary" (click)='previewAction()'>
      <mat-icon>remove_red_eye</mat-icon>
    </button>
    <button mat-icon-button
            color="primary"
            (click)='duplicateAction()'
    >
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button
            color="primary"
            (click)="openJsonEditor()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button
            color="primary" (click)='deleteAction()'>
      <mat-icon>delete</mat-icon>
    </button>
    
  </div>
</div>


