.button-row {
  padding-top: 15px;
  padding-bottom: 15px;
}

#jsonEditorTree {
  height: calc(100vh - 180px);
}

.button-row button {
  display: table-cell;
  padding: 0 12px !important;
  margin-right: 20px;
  line-height: 30px;
}

.button-row mat-slide-toggle {
  margin-right: 20px;
}

.button-row button.noLabel {
  margin-right: 0px !important;
}



#jsonEditorTree div.jsoneditor-frame input {
	width: 200px;
  padding: 2px; 
  font-size: revert;
}
