<div fxLayout="row">
  <div fxFlex="8%" class="label actionType">
    <ng-container *ngIf="track.type === 'CLICK'">
      <mat-icon  matTooltip="Click">ads_click</mat-icon>
    </ng-container>
    <ng-container *ngIf="track.type === 'PAGE'">
      <mat-icon  matTooltip="PAGE">pageview</mat-icon>
    </ng-container>
  </div>
  <div fxFlex class="data">
    <ng-container *ngIf="dataDisplay && track?.querystring && track?.querystring['' + dataDisplay]; else noFilter">
      {{dataDisplay}}: {{track?.querystring['' + dataDisplay]}}
    </ng-container>
    <ng-template #noFilter>
      {{track?.url.length > 50 ? (track?.url | slice:0:50) + ' ...': track?.url }}
    </ng-template >
  </div>
  <div fxFlex="8%" class="actions">
    <button mat-icon-button
            color="primary" (click)='previewTrack()'>
      <mat-icon>remove_red_eye</mat-icon>
    </button>
  </div>
</div>


