.import-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    button {
        width: 100%;
    }

    .option-description {
        margin: 0 0 1rem 0;
        font-size: 0.85rem;
        color: rgba(0, 0, 0, 0.6);
    }
}

:host-context(.black-theme) {
    .option-description {
        color: rgba(255, 255, 255, 0.6);
    }
}
