<div class="mosaic-shell-container">
  <div class="bg-blobs">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
  </div>

  <mmn-mosaic-toolbar [showBack]="!!selectedCategoryId() && !isSearching()" [categoryName]="selectedCategory?.name ?? ''" (backClick)="goBack()" (searchChange)="onSearchChange($event)"></mmn-mosaic-toolbar>

  <main class="mosaic-content">
    @if (isSearching()) {
      <mmn-mosaic-search-results [query]="searchQuery()" [categories]="categories" [rootUrls]="rootUrls"></mmn-mosaic-search-results>
    } @else if (selectedCategoryId()) {
      <mmn-urls-grid [urls]="categoryUrls" (reordered)="onUrlsReordered($event)"></mmn-urls-grid>
    } @else {
      <mmn-categories-grid [categories]="categories" [rootUrls]="rootUrls" (categorySelected)="selectCategory($event)" (reordered)="onGridReordered($event)"></mmn-categories-grid>
    }
  </main>
</div>
