<div class="mosaic-shell-container">
  <div class="bg-blobs">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
  </div>

  <mmn-mosaic-toolbar
    [showBack]="showBack()"
    [categoryName]="selectedCategory?.name ?? ''"
    [viewMode]="viewMode()"
    [editMode]="editMode()"
    (backClick)="goBack()"
    (searchChange)="onSearchChange($event)"
    (viewModeChange)="onViewModeChange($event)"
    (editModeChange)="onEditModeChange($event)"
    (addUrl)="addUrl()"
    (addCategory)="addCategory()"
  ></mmn-mosaic-toolbar>

  <main class="mosaic-content">
    @if (viewMode() === 'tree') {
      <mmn-mosaic-tree [categories]="categories" [rootUrls]="rootUrls" [query]="searchQuery()" [editable]="editMode()" (urlMoved)="onUrlMoved($event)" (action)="onTreeAction($event)"></mmn-mosaic-tree>
    } @else if (showSearchResults()) {
      <mmn-mosaic-search-results [query]="searchQuery()" [categories]="categories" [rootUrls]="rootUrls"></mmn-mosaic-search-results>
    } @else if (selectedCategoryId()) {
      <mmn-urls-grid [urls]="categoryUrls" [editable]="editMode()" (reordered)="onUrlsReordered($event)" (editUrl)="onCategoryUrlEdit($event)" (deleteUrl)="onCategoryUrlDelete($event)"></mmn-urls-grid>
    } @else {
      <mmn-categories-grid
        [categories]="categories"
        [rootUrls]="rootUrls"
        [editable]="editMode()"
        (categorySelected)="selectCategory($event)"
        (reordered)="onGridReordered($event)"
        (editItem)="onGridEdit($event)"
        (deleteItem)="onGridDelete($event)"
      ></mmn-categories-grid>
    }
  </main>
</div>
