<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{element.display}}
      </mat-panel-title>
    </mat-expansion-panel-header>
   

<div fxLayout="row">
  <div fxFlex="40%" class="data">{{element.display}}</div>
  <div fxFlex="40%" class="data">{{element.jsonKey}}</div>
  <div fxFlex="19%" fxLayoutAlign="end center" class="actions">
    <button mat-icon-button color="primary" (click)='removeElement()'>
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </div>
</div>

</mat-expansion-panel>
