.container {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

h1 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

h2 {
  margin: 15px 0 10px 0;
  text-transform: uppercase;
}

.group {
  margin: 0 0 40px 0;
}

.icon-form-field {
  position: relative;
  display: flex;
  height: 65.5px;
  align-items: center;

  mat-placeholder {
    flex: 2 1 auto;
  }
}

mat-icon {
  margin: 2px 5px 2px 5px;
  font-size: 20px;
}

mat-form-field {
  flex: 1 0 auto;
}

.bold {
  font-weight: bolder;
  font-size: 15px;
  color: #F9690E;
}

.-tab-icon {
  margin-right: 8px;
}


mat-tab mat-icon {
  margin-right: 10px;
}

mat-slider {
  margin-right: 10px;
}